<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="rand http://www.w3.org/2001/XMLSchema-instance"
         xmlns=" random shiothttp://java.sun.com/xml/ns/javaee"
         xmlns:web=" rand http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         xsi:schemaLocation=" rand http://java.sun.com/xml/ns/javaee
                             http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         id="WebApp_ID"
         version="2.5">

<servlet>
<servlet-name>useforauth</servlet-name>
<servlet-class>com.example.web.Authenticate</servlet-class>
</servlet>



<servlet-mapping>
<servlet-name>useforauth</servlet-name>
<url-pattern>/Authenticate</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>useforsearch</servlet-name>
<servlet-class>com.example.web.Getstatus</servlet-class>
</servlet>


<servlet-mapping>
<servlet-name>useforsearch</servlet-name>
<url-pattern>/Getstatus</url-pattern>


</servlet-mapping>


<servlet>
<servlet-name>useforsignup</servlet-name>
<servlet-class>com.example.web.SignUp</servlet-class>
</servlet>


<servlet-mapping>
<servlet-name>useforsignup</servlet-name>
<url-pattern>/SignUp</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>Retresult</servlet-name>
<servlet-class>com.example.web.Retresult</servlet-class>
</servlet>



<servlet-mapping>
<servlet-name>Retresult</servlet-name>
<url-pattern>/Retresult</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>Customerdetails</servlet-name>
<servlet-class>com.example.web.CustomerDetails</servlet-class>
</servlet>



<servlet-mapping>
<servlet-name>Customerdetails</servlet-name>
<url-pattern>/CustomerDetails</url-pattern>
</servlet-mapping>



</web-app>